backports.entry-points-selectable==1.1.0
bidict==0.21.4
cffi==1.15.0
cli-helpers==2.2.0
click==8.0.3
colorama==0.4.4
configobj==5.0.6
distlib==0.3.3
filelock==3.3.2
Flask==2.0.2
Flask-Login==0.5.0
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
passlib==1.7.4
pendulum==2.1.2
pgcli==3.2.0
pgspecial==1.13.0
platformdirs==2.4.0
prompt-toolkit==3.0.21
psycopg2==2.9.1
pycparser==2.20
Pygments==2.10.0
python-dateutil==2.8.2
python-engineio==4.3.0
python-socketio==5.4.1
pytzdata==2020.1
setproctitle==1.2.2
six==1.16.0
SQLAlchemy==1.4.26
sqlparse==0.4.2
tabulate==0.8.9
typing-extensions==3.10.0.2
virtualenv==20.9.0
wcwidth==0.2.5
Werkzeug==2.0.2
WTForms==2.3.3
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
